<!DOCTYPE html>
<html>
<head>
  <title>Redit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to("Login", login_path) if session[:user_id].nil? %>
      <%= link_to("Log Out", "/session", method:"delete") unless session[:user_id].nil? %>
    </li>

  </ul>
  </header>

<%= yield %>

</body>
</html>
